*{
    margin: 0px;
    padding: 0px;
}
body{
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    padding: 10px;
    display:flex;
    justify-content: space-between;
    border-bottom: solid rgb(168, 168, 168) 1.5px;
    align-items: center;
    
}
.navbar__s1__title{
color: blueviolet;
}
.navbar__s2{
    padding: 10px;
    border: solid black;
    border-radius: 30px;
    width:60%; 
    display: flex;  
    gap: 10px;
}
.navbar__s2 input{
    border: none;
    width: 400px;
    font-size: 15px;
    align-items: center;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap:20px;
    align-items: center ;
}
.categories{ 
    display: flex;
    justify-content: space-around ;
    padding: 10px;    
}
.categories p{
    background-color: rgb(155, 78, 227);
    padding: 10px;
    border-radius: 20px;
    color: rgb(251, 251, 251);
}
img{
    width: 100%;
}
.recommended{
    padding: 10px;
}
.course-card{
    width: 300px;
    height: 300px
}
 .course-card img{
    width: 100%;
    height: 60%;
}  
.recommended__container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.recommended__container.card{
    max-height: fit-content
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.topics__title{
    margin-top: 20px;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.course-card{
    margin-top: 20px;
}
.footer{
    height:auto;
    background-color: black;
}
.footer__container{
    color: aliceblue;
    padding: 30px;
    display: flex;
}
.footer__img{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-right: 80px;
    height: 60%;
    width: 40%;
}
.footer__text{
    color: aliceblue;
    padding: 30px;

}
.footer__text p{
    display:flex;
    flex-direction: column;
}
.footer__container2{
    color: aliceblue;
    padding: 30px;
}
.logo__container{
    padding-left: 30px;
    padding-top: 30px;
    background-color: rgb(0, 0, 0);
    height:auto;
}
.logo__img{
width: 100px;
height: 50px;
}
.footer__one{
    padding-left: 10px;
    display: flex;
    background-color: black;
    color: aliceblue;
    gap: 50px;
}
.footer__one p{
    margin: 20px;
}
